
.videoElement {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	visibility: hidden;
	width: auto;
	height: auto;
}

.app-container-background{
	min-height: 100vh;
	
	.app-actions{
		display: block;
		text-align: center;
		max-width: 720px;
		width: 720px;
		margin: 30px auto;
		

			.each-action-name{
				text-align: left;
				padding: 10px;
				font-size: 20px;
				user-select: none;
			}
			.each-action-choices{
				display: flex;
				justify-content: left;
				overflow-x: scroll;
				ul{
					list-style: none;
					display: flex;

					li{
						padding: 30px;
						margin-left: 5px;
						margin-right: 5px;
						padding-left: 30px;
						padding-right: 30px;
						cursor: pointer;
						transition-duration: 0.2s;
						border-radius: 10px;
						background: rgba(214, 214, 214, 0.5);
						user-select: none;

						&:hover{
							background-color: rgba(214, 214, 214, 0.6);
						}
					}
				}
			}

			.each-action-special ul{
				display: flex;
				flex-wrap: wrap;
				li{
					margin: 5px
				}
			}
	}
}
